
<a href = "./new">(+)</a>
{{#each contact}}
  <div class="contact">

  <p>name: {{name}}</p>
  <p>email: {{email}}</p>
  <p>address: {{address}}</p>
  <p>model number: {{model_number}}</p>
  <p>serial number: {{serial_number}}</p>
  <p>purchase Date: {{purchase_date}}</p>
  <p>message: {{message}}</p>

  </div>
{{/each}}
